<%- include('./base/head'); %>

    <body>
        <div class="container">
            <%- include('./base/nav'); %>
        </div>
        <main class="mt-5 container p-5">
            <h1 class="fw-lighter">LOGIN</h1>
        </main>
    </body>
<%- include('./base/footer'); %>