<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="form" method="get" action="/">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search" id="validationTextarea" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>